@import url('https://fonts.googleapis.com/css2?family= Anton & family = Poppins:wght@200 & display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #141414;

}

/* header principal */

header {
    height: 80vh;
    background: #141414 url(/Imagens/img1.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.title{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    font-family: 'Anton';
    color: #ffffff;
    font-size: 1rem;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 2.8rem;
    text-transform: uppercase;
    color: #f9ef23;
}

button {
    font-size: .9rem;
    padding: 10px;
    margin-top: 2rem;
    background-color: #f9ef23;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover{
    background-color: #fffffe;
}


/* Seção Sobre nossa empresa */
.sobre {
    height: 60vh;
    width: 100vw;
    margin-top: 1rem;
    position: relative;
}

.sobre h2 {
    padding-top: 20px;
    font-size: 2.6rem;
    margin-left: 10rem;
    font-family: 'Anton';
    color: #f9ef23;
    text-transform: uppercase;
}

.sobre p {
    font-size: 1.6rem;
    margin-left: 10rem;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    width: 20rem;
    color: #ffffff;
    flex-direction: column;
}

.img {
    height: 20rem;
    position: absolute;
    top: 1rem;
    right: 4rem;
    border-radius: 10px;
}

/* Seção o que oferecemos */
.section_fim h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton';
    color: #f9ef23;
    font-size: 2.6rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

.section_fim p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-top: .6rem;
    font-family: 'Poppins';
}

.container_imgs {
    display: flex;
    justify-content: space-around;
}

.card_img>img {
    width: 20rem;
    height: 16rem;
    margin-top: 2rem;
    border-radius: 1px;
}

.card_img>p {

    font-size: 1.5rem;
    color: #f9ef23;
    font-family: 'Anton';
}

.card_img>span {
    font-family: 'Poppins';
    color: #ffffff;
    display: inline-block;
    width: 20rem;
    height: 16rem;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 5rem;
}


@media screen and (max-width:375px){
    
    .img{
        display: none;
    }.sobre p , .sobre h2 {
        text-align: center;
        margin: auto;
    }
    
    .section_fim h2{
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_imgs{
        flex-direction: column;
        
    }
}
@media screen and (max-width:1024px){
    
    .img{
        display: none;
    }.sobre p , .sobre h2 {
        text-align: center;
        margin: auto;
    }
    .section_fim{
        flex-direction: column;
        text-align: center;
    }
    .section_fim h2{
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_imgs{
        flex-direction: column;
        
    }
}

